<h1>Menú Session</h1>

<h1 style="color:blue">
    @ViewData["NUMERO"]
</h1>
<ul>
    <li>
        <a asp-controller="EjemploSession"
         asp-action="SessionSimple">
            Session simple
        </a> 
    </li>
    <li>
        <a asp-controller="EjemploSession"
            asp-action="SessionPersona">
            Session Persona
        </a>
    </li>
    <li>
        <a asp-controller="EjemploSession"
            asp-action="ColeccionSessionPersonas">
          Colección Session Personas
        </a>
    </li>
    <li>
        <a asp-controller="EjemploSession"
            asp-action="SessionPersonaJson">
          Session Persona JSON
        </a>
    </li>
    <li>
        <a asp-controller="EjemploSession"
            asp-action="SessionPersonaObject">
          Session Persona OBJECT
        </a>
    </li>
    <li>
        <a asp-controller="EjemploSession"
            asp-action="ColeccionSessionObjects">
          Colección Session OBJECTS
        </a>
    </li>
</ul>


